.list {
  border-color: #212529;
  border-bottom: 6px outset #212529;
  padding-top: 0.5rem;
  display: flexbox;
}
.feature-list {
  padding: 1rem;
}
  
.subheader {
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: black;
  display: flexbox;
}
  
.about-grid {
  font-size: 2rem;
  display: flexbox;
  padding: 1rem;
}

.info-item {
  padding: 1rem;
  font-size: 1.5rem;
}

.video {
  width: 853px; 
  height: 480px;
}