.about-content {
  max-width: 96%;
  min-width: 90%;
  display: flex;
  font-size: 6rem;
}
  
.feature-list {
  padding: 1%;
  display: flexbox;
}
  
.subheader {
  font-weight: bold;
  padding-top: 1rem;
  font-size: 1.5rem;
  color: black;
  display: flexbox;
}
  
.about-grid {
  font-size: 2rem;
  display: flex;
  max-width: 98%;
  min-width: 10%;
}

.info-item {
  padding: 1.5rem;
  font-size: 1.5rem;
  max-width: 96%;
  min-width: 10%;
  display: flex;
}

.image-item {
  padding: 1.25rem;
  max-width: 100%;
  min-width: 25%;
  display: flex;
}
