.list {
  border-color: #212529;
  border-bottom: 6px outset #212529;
  display: flexbox;
}
.feature-list {
  display: flexbox;
  font-weight: bold;
}
  
.subheader {
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  display: flexbox;
  justify-content: center;
}

.about-content {
  font-size: 1.5rem;
  display: flexbox;
  padding: 1.75rem;
  align-items: center;
  justify-content:"center";
}

.about-grid {
  font-size: 2rem;
  display: flexbox;
  align-items: center;
  justify-content: center;
}

.info-item {
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

.media-item {
  font-size: 1.25rem;
}

.responsive-iframe {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flexbox;
}

.image {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flexbox;
}
