.App{
  background: #d3d3d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.CardsGrid {
  text-align: center;
  display: flex;
}

.grid-item {
  max-width: 800px;
  padding: 1em;
  font-size: 18px;
}

.Card {
  padding: 2%;
  max-width: 500px;
 }

.base-header {
  font-weight: bold;
  padding: 2%;
  font-size: 28px;
  color: white;
  background: #212529;
  display: flex;
}

.about-item {
  font-size: 1.25rem;
  padding: 2%;
}

.Experience {
  display: flex;
}

.experience-skills {
  padding: 2%;
  font-size: 1.25rem;
}

.bullet-list {
  padding: 1%;
}

