.App{
  background: #d3d3d3;
}

.CardsGrid {
  text-align: center;
  display: flex;
  align-items: center;
}

.grid-item {
  max-width: 400px;
  padding: 2%
}

.Card {
  padding: 2%;
 }

.about-header {
  font-weight: bold;
  padding: 2%;
  text-align: left;
  font-size: 36px;
  color: white;
  background: black;
  display: flex;
}

.about-content {
  padding: 2%;
  word-wrap: break-word;
  overflow: auto;
}

.about-item {
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 1.25rem;
  padding: 4%;
}

.Experience {
  background: #d3d3d3;
  display: flex;
}

.experience-header {
  font-weight: bold;
  font-size: 32px;
  color: black;
  display: flex;
  text-decoration: underline;
}

.experience-job {
  font-size: 18px;
}

