.navbar {
    background: black;
    display: flex;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 18px
}

.NavbarTitle {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

