.Experience{
    background: #d3d3d3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .grid-item {
    max-width: 800px;
    padding: 1em;
    font-size: 18px;
  }

  .base-header {
    font-weight: bold;
    padding: 2%;
    font-size: 28px;
    color: white;
    background: #212529;
    display: flex;
  }
  
  .experience-skills {
    padding: 2%;
    font-size: 1.25rem;
  }
  
  .bullet-list {
    padding: 2%;
  }