.base-footer {
    margin-top: auto;
    font-weight: bold;
    padding: 1%;
    font-size: 1.25rem;
    justify-content: center;
    color: white;
    background: #212529;
    display: flex;
  }

  .PersonalProjects {
    background: #d3d3d3;
  }